In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('SELGROS.csv',sep=';')

In [52]:
df.head()

,wave,title,geo_object_id,id,article_id,metro_available,state,metro_title
0,S6-18-42,КАРУСЕЛЬ,878,18201105,199047,f,accepted,АУРА ВЛАЖ САЛФ ДЕТ 120ШТ
1,S6-18-42,КАРУСЕЛЬ,878,18201109,199063,t,accepted,ДИСК.ЕЖ/ПРОК.ЛИЛ.60ШТ
2,S6-18-42,КАРУСЕЛЬ,878,18201106,199066,f,accepted,ЗЕВА САЛФ.Д/ЛИЦА 1УП
3,S6-18-42,КАРУСЕЛЬ,878,18201108,232476,t,accepted,НАТУР ПРОК.УЛЬТРНОРМ 10ШТ
4,S6-18-42,КАРУСЕЛЬ,878,18201107,199044,f,accepted,ЗЕВА ПЛОТ.НС.2СЛ.РМ10Х10ШТ

In [53]:
r = df.groupby(['metro_title','metro_available','wave'])['metro_available'].count()

In [49]:
r.to_excel('sel.xlsx')