In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pydata-book/datasets/bitly_usagov/all_competitors_with_ids.csv', sep = ',')

In [3]:
dfrom = pd.read_csv('pydata-book/datasets/bitly_usagov/1wave.csv', sep=',')

In [4]:
df_final = df

In [5]:
df['ID_ZONE'] = ''

In [6]:
df2 = dfrom[:37]

In [7]:
df2.head(1)

,СЕГМЕНТ,НАЗВАНИЕ СЕГМЕНТА,КАТЕГОРИЯ,НАЗВАНИЕ КАТЕГОРИИ,СЕМЬЯ,НАЗВАНИЕ СЕМЬИ,Unnamed: 6,FORMAT,CITY,COMPETITOR,ADDRESS,COMP FORMAT,ID_COMP,ID_ZONE,ФАЙЛ в отчете
0,106,МЯСО П/П,137,ГОВЯДИНА П/П (в т.ч. ВЕСОВОЙ товар) КРОМЕ СТМ,120,ГОВЯДИНА МРАМОРНАЯ,NaN,CITY,MAGNITOGORSK,5KA,"Магнитогорск, ул. Доменщиков, д. 3",SUPER,605118,NaN,МА_файл 1

In [11]:
hh = df2[['ID_COMP','ID_ZONE']]

In [27]:
for k,v in enumerate(hh.values):
    for i in range(len(df)):
        if str(v[0]) == str(df.loc[i]['ID_COMP']):
            print(v[0],str(df.loc[i]['ID_COMP']))
            df.loc[i,'ID_ZONE'] = v[1]
#             print(v[1])
#             df.loc[i]['ID_ZONE'] = str(v[1])

605118 605118
603047 603047
201003 201003
403031 403031
404084 404084
407009 407009
205008 205008
202023 202023
503029 503029
513001 513001
503038 503038
504014 504014
203074 203074
207007 207007
218001 218001
204018 204018
205146 205146
211029 211029
204078 204078
246001 246001
205091 205091
204055 204055
205084 205084
226006 226006
205147 205147
203084 203084
204121 204121
205207 205207
204145 204145
205109 205109
204146 204146
218002 218002
204144 204144
218003 218003
204069 204069
205127 205127
204091 204091

In [36]:
df = df.fillna(0)

In [37]:
df

0         0
1
2     52039
3
4     52010
5     52010
6     52039
7     52039
8         0
9         0
10        0
11        0
12        0
13    52039
14    52039
15    52039
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23    52039
24    52010
25    52010
26    52039
27    52039
28    52039
29    52039
30    52010
31    52010
32    52010
33    52010
34    52010
35    52010
36    52010
37    52010
38    52039
Name: ID_ZONE, dtype: object