In [19]:
# how to get pandas data from postgree sql using python 
import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd

request ="SELECT DISTINCT(r2.article_id), CONCAT_WS('','https://ma-metro.millionagents.com/data2/answer/image/', answer_files.id, '/', file) as url \
FROM ma_metro.reports r \
INNER JOIN ma_metro.reports r2 \
    ON r.id = r2.origin_report_id \
INNER JOIN ma_metro.tasks t \
    ON r2.task_id = t.id \
JOIN ma_metro.answer_files \
    ON answer_files.id = r2.metro_price_photo_id \
INNER JOIN ma_metro.geo_objects \
    ON t.geo_object_id = geo_objects.id \
WHERE t.project_id = 2 \
AND r2.state = 'accepted' \
AND r2.metro_available = True \
AND r2.metro_promo = True \
AND r2.id IN ({}) \
LIMIT 10".format(reports_ids)

connection = pg.connect(host='127.0.0.1',port='8089', database='ma_metro_forapp_mobi',user='psqlreader',password='aImf3fivls34')
df = pd.read_sql_query(request, connection)
# df = pd.read_sql_query('select * from ma_metro.users LIMIT 10',con=connection)
# print(df)

In [20]:
df

   article_id                                                url
0         249  https://ma-metro.millionagents.com/data2/answe...
1         808  https://ma-metro.millionagents.com/data2/answe...
2         957  https://ma-metro.millionagents.com/data2/answe...
3         957  https://ma-metro.millionagents.com/data2/answe...
4        1654  https://ma-metro.millionagents.com/data2/answe...
5        1809  https://ma-metro.millionagents.com/data2/answe...
6        1809  https://ma-metro.millionagents.com/data2/answe...
7        1841  https://ma-metro.millionagents.com/data2/answe...
8        1841  https://ma-metro.millionagents.com/data2/answe...
9        1848  https://ma-metro.millionagents.com/data2/answe...